@import "minireset.css";

@font-face {
  font-family: "Skranji";
  src: url("../fonts/Skranji-Bold.woff2") format("woff2"),
    url("../fonts/Skranji-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  width: 400px;
  background-image: url(../images/halie-west-unsplash.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo-ctn {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 30%;
  gap: 10px;
}

.logo-text {
  font-family: "Skranji";
  font-size: 3rem;
}

.credit-text {
  position: absolute;
  bottom: 10px;
  align-self: center;
}

.credit-text a {
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-one {
  padding: 50px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #f9fafb;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 10px;
}

.section-two {
  flex: 1;
  padding: 10px 30px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.section-two > p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 15px;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sign-up-form > div {
  display: flex;
  gap: 20px;
}

#sign-up-form > div > div {
  display: flex;
  flex-direction: column;
}

.section-three {
  flex: 1;
  padding: 50px 30px;
  background-color: #f9fafb;
  flex-direction: column;
}

.section-three > button {
  margin-bottom: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  background-color: #596d48;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-three a {
  color: #596d48;
  text-decoration: none;
  font-weight: 500;
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 500;
}

input {
  border: 1px solid #e5e7eb;
  padding: 2px;
  border-radius: 5px;
}

input[type="password"]:invalid {
  border: 1px solid rgb(255, 94, 94);
}

input:focus {
  border: 1px solid rgb(94, 94, 255);
  outline: none;
}
